/* General CSS settings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

/* Header (Image + Input) */
/* Image and Spaces */
.header {
    height: 40vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(back.png);
    background-size: cover;
    background-position: center;
    position: relative;
    padding: 90px 0 90px 0;
}

    .header:after {
    content: "";
    display: table;
    clear: both;
}

/* Input form */
.add {
    margin: 0 auto;
    text-align: center;
}

.add__description {
    padding: 15px 18px;
    margin-right: 10px;
    border-radius: 5px;
    border: 1px solid #e7e7e7;
    background-color: rgba(255, 255, 255, 0.9);
    color: inherit;
    font-family: inherit;
    font-size: 14px;
    transition: border 0.3s;
    width: 60%;
}

    .add__description:focus {
    outline: none;
    border: 1px solid #28B9B5;
}

.add__btn {
    font-size: 40px;
    background: none;
    border: none;
    color: #e7e7e7;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    line-height: 1.1;
    margin-left: 10px;
    transition: font-size 0.3s;
}

    .add__btn:hover {
    animation: roll 0.5s;
}

@keyframes roll {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Style the list items */
ul li {
    cursor: pointer;
    position: relative;
    padding: 16px 10px 18px 60px;
    background: #eee;
    font-family: 'Lato', 'Open Sans', sans-serif;
    color: rgba(50, 50, 50, 0.85);
    font-size: 15px;
    transition: 0.5s;
    text-transform: capitalize;

    /* make the list items unselectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Set all odd list items to a different color (zebra-stripes) */
ul li:nth-child(odd) {
    background: #f9f9f9;
}

/* Darker background-color on hover */
ul li:hover {
    background: #ddd;
}

/* When clicked on, add a background color and strike out text */
ul li.checked {
    background: #28B9B5;
    color: #fff;
}

/* Add a "checked" mark when clicked on */
ul li.checked::before {
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 14px;
    left: 30px;
    transform: rotate(45deg);
    height: 15px;
    width: 8px;
}

/* Style the close button */
.close {
    position: absolute;
    right: 5px;
    top: 5px;
    padding: 12px 16px 12px 16px;
}

.close:hover {
    background-color: #f44336;
    color: white;
}







